# Entornos virtuales
venv/
env/

# Archivos de caché
__pycache__/
*.pyc

# Logs y archivos temporales
logs/
*.log
*.swp

# Archivos de configuración local
.env

# Carpeta de construcción de Docker
docker-compose.override.yml
docker-compose.yml
Dockerfile

# Dependencias y archivos generados
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.pyc
*.pyo
*.pyd
*.pyc
*.bak
*.swp
*.cache
*.log
*.vscode/
*.idea/
